{% extends "base.html.twig" %}

{% block content -%}
	<form action="" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>Edit Blog</h5>
			</div>
			<div class="panel-body">			
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name" value="{{entity.name}}">					
				</div>
				<div class="form-group">
					<label for="name">Description</label>
					<textarea name="des" id="" cols="30" rows="10" class="form-control">{{entity.des}}</textarea>
				</div>
			</div>
			<div class="panel-footer">
				<input type="submit" name="update" value="Update" class="btn btn-success">
				<a href="{{ path('_category')}}" class="btn btn-info">Cancel</a>
			</div>
		</div>
	</form>
{% endblock %}

