{% extends "base.html.twig" %}

{% block content -%}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>List of Categories</h5>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-stripped table-data">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                     <tr>
                        <td><a href="{{ path('_category_edit',{'id':entity.id})}}"></a>{{ entity.name }}</td>
                        <td>{{ entity.des }}</td>
                        <td>{{ entity.status }}</td>
                        <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a href="{{ path('_category_show', { 'id': entity.id }) }}">show</a> / 
                            <a href="{{ path('_category_edit', { 'id': entity.id }) }}">edit</a> / 
                            <a href="{{ path('_category_delete', { 'id': entity.id }) }}">delete</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>
<div class="panel-footer">
 <a href="{{ path('_category_add') }}" class="btn btn-success">New</a>
</div>
</div>
{% endblock %}
