{% extends "base.html.twig" %}

{% block content -%}
	<form action="" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5>Blog Detail</h5>
			</div>
			<div class="panel-body">			
				<div class="form-group">
					<label for="name">Name</label> : {{entity.name}}
				</div>
				<div class="form-group">
					<label for="name">Description</label> : {{entity.des}}
				</div>
			</div>
			<div class="panel-footer">
				<a href="{{ path('_category')}}" class="btn btn-info">Back</a>
			</div>
		</div>
	</form>
{% endblock %}

