{% extends "base.html.twig" %}

{% block content -%}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(form) }}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5> Edit</h5>
		</div>
		<div class="panel-body">			
			<div class="form-group">
				{{ form_label(entity.name) }}
				{{ form_widget(entity.name, {'attr': {'class': 'form-control'}}) }}
			</div>
			<!-- <div class="form-group">
				{{ form_label(entity.category.name) }}
				{{ form_widget(entity.category.name, {'attr': {'class': 'form-control'}}) }}
			</div> -->
			<div class="form-group">
				{{ form_label(entity.des) }}
				{{ form_widget(entity.des, {'attr': {'class': 'form-control'}}) }}
			</div>
		</div>
		<div class="panel-footer">
			{{ form_label(entity.submit) }}
			{{ form_widget(entity.submit, {'attr': {'class': 'btn btn-success'}}) }}
			<a href="{{ path('_product') }}" class="btn btn-info">Cancel</a>
		</div>
		{{ form_end(form) }}
	</div>
</form>

{% endblock %}




