{% extends "base.html.twig" %}

{% block content -%}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(form) }}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5> Edit</h5>
		</div>
		<div class="panel-body">			
			<div class="form-group">
				{{ form_label(form.name) }}
				{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.name)}}
			</div>
			<div class="form-group">
				{{ form_label(form.category) }}
				{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.category)}}
			</div>
			<div class="form-group">
				{{ form_label(form.des) }}
				{{ form_widget(form.des, {'attr': {'class': 'form-control'}}) }}
				{{ form_errors(form.des)}}
			</div>
		</div>
		<div class="panel-footer">
			{{ form_label(form.submit) }}
			{{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
			<a href="{{ path('_product') }}" class="btn btn-info">Cancel</a>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}




