{% extends "base.html.twig" %}

{% block content -%}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>List of Products</h5>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-stripped table-data">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                       <tr>
                        <td><a href="{{ path('_product_edit',{'id':entity.id})}}"></a>{{ entity.name }}</td>
                        <td>{{ entity.category }}</td>
                        <td>{{ entity.status }}</td>
                        <td>
                            <a href="{{ path('_product_show', { 'id': entity.id }) }}">show</a> / 
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('_product_edit', { 'id': entity.id }) }}">edit</a> / 
                            {% endif %}
                            <a href="{{ path('_product_delete', { 'id': entity.id }) }}">delete</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>
<div class="panel-footer">
   <a href="{{ path('_product_add') }}" class="btn btn-success">New</a>
</div>
</div>
{% endblock %}
