{% extends "base.html.twig" %}

{% block content -%}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Login</h5>
        </div>
        <div class="panel-body">

            <p>
                Choose between two default users: <em>user/userpass</em> <small>(ROLE_USER)</small> or <em>admin/adminpass</em> <small>(ROLE_ADMIN)</small>
            </p>

            {% if error %}
                <div class="error">{{ error.message }}</div>
            {% endif %}

            <form action="{{ path("login_check") }}" method="post" id="login">
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" />
                </div>

                <button type="submit" class="sf-button">
                    <span class="border-l">
                        <span class="border-r">
                            <span class="btn-bg">Login</span>
                        </span>
                    </span>
                </button>
            </form>
        </div>
        <div class="panel-footer">
           <a href="{{ path('login_check') }}" class="btn btn-success">Login</a>
           <p>
            {% set code = code(_self) %}
            </p>
        </div>
    </div>
{% endblock %}




